
@{
    ViewData["Title"] = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container w-75 my-3 mb-5 align-items-center rounded" style="background-color: white;">
    <div class="row align-items-center">
        <center>
            <div class="col w-50 my-5">
                <canvas id="myChart"></canvas>
            </div>
        </center>

    </div>
</div>

<script src="~/js/chart.js" asp-append-version="true"></script>

