
@{
    ViewData["Title"] = "Sweetalert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-primary" onclick="goodJob()">
                Buen trabajo!
            </button>
        </div>
    </div>
</div>

<script src="~/js/sweetalerts.js" asp-append-version="true"></script>

